<div class="dragTitlepane">
    <div dojoAttachPoint="titleBarNode" dojoAttachEvent="" class="dragTitlepaneTitle">
        <span dojoAttachPoint="titleNode"></span>
        <span dojoAttachPoint="closeNode" dojoAttachEvent="onclick:_closeNodeClickHandler" class="dragTitlepaneCloseIcon">&thinsp;</span>
        <span dojoAttachPoint="arrowNode" dojoAttachEvent="onclick:_arrowNodeClickHandler" class="dragTitlepaneMinimizeIcon">&thinsp;</span>
    </div>
    <div dojoAttachPoint="hideNode">
        <div dojoAttachPoint="wipeNode">
            <div dojoAttachPoint="containerNode">
            </div>
        </div>
    </div>
</div>
