<div>
    <table cellpadding="0" cellpadding="0">
        <tr>
            <td>
                <button id="add" dojoAttachPoint="add" dojoAttachEvent="onclick:_changeEditTool">
                    添加新要素
                </button>
            </td>
            <td>
                <button id="select" dojoAttachPoint="select" dojoAttachEvent="onclick:_changeEditTool">
                    选择新要素
                </button>
            </td>
            <td>
                <button id="clear" dojoAttachPoint="clear" dojoAttachEvent="onclick:_changeEditTool">
                    清除要素集
                </button>
            </td>
            <td>
                <button id="delete" dojoAttachPoint="delete" dojoAttachEvent="onclick:_changeEditTool">
                    删除要素集
                </button>
            </td>
        </tr>
    </table>
</div>
