<div>
    <table cellspacing="0" cellpadding="0">
        <tr>
            <td>
                <div dojoAttachPoint="zoomIn" id="zoomIn" class="zoomIn" dojoAttachEvent="onclick:_changeNavigationTool">
                </div>
            </td>
            <td>
                <div dojoAttachPoint="zoomOut" id="zoomOut" class="zoomOut" dojoAttachEvent="onclick:_changeNavigationTool">
                </div>
            </td>
            <td>
                <div dojoAttachPoint="pan" class="pan" id="pan" dojoAttachEvent="onclick:_changeNavigationTool">
                </div>
            </td>
            <td>
                <div dojoAttachPoint="fullExtent" id="fullExtent" class="fullExtent" dojoAttachEvent="onclick:_changeNavigationTool">
                </div>
            </td>
            <td>
                <div dojoAttachPoint="edit" id="edit" class="edit" dojoAttachEvent="onclick:_changeNavigationTool">
                </div>
            </td>
            <td>
                <div dojoAttachPoint="save" id="save" class="save" dojoAttachEvent="onclick:_changeNavigationTool">
                </div>
            </td>
        </tr>
    </table>
</div>
